*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/vcs.xml
/.idea
.idea/
*.log
/mapp-engage-sdk/3F5AB862.asc
/.kotlin/sessions/kotlin-compiler-8468995045331428606.salive
/buildSrc/build
/buildSrc/.gradle
/buildSrc/.kotlin
.claude/settings.json
